[submodule "config/i3/i3exit"]
	path = config/i3/i3exit
	url = git@github.com:djerveren/i3exit.git
[submodule "config/i3/bumblebee-status"]
	path = config/i3/bumblebee-status
	url = git@github.com:tobi-wan-kenobi/bumblebee-status.git
[submodule "config/polybar/siji"]
	path = config/polybar/siji
	url = git@github.com:stark/siji.git
[submodule "sources/picom"]
	path = sources/picom
	url = git@github.com:yshui/picom.git
[submodule "sources/rofi"]
	path = sources/rofi
	url = git@github.com:davatorium/rofi.git
[submodule "sources/rofi-themes"]
	path = sources/rofi-themes
	url = git@github.com:adi1090x/rofi.git
[submodule "sources/networkmanager-dmenu"]
	path = sources/networkmanager-dmenu
	url = git@github.com:firecat53/networkmanager-dmenu.git
[submodule "sources/polybar-themes"]
	path = sources/polybar-themes
	url = https://github.com/adi1090x/polybar-themes
[submodule "sources/i3lock-color"]
	path = sources/i3lock-color
	url = https://github.com/Raymo111/i3lock-color
[submodule "sources/betterlockscreen"]
	path = sources/betterlockscreen
	url = git@github.com:betterlockscreen/betterlockscreen.git
[submodule "config/tmux/tmux-resurrect"]
	path = config/tmux/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
